
* {
	font-family: "Calibri";
}

body {
	font-family: "Roboto Light", sans-serif;
	background-color: #E7AD99;
}

p {
	font-size: 300%;
	text-align: left;
	align-content: start;
}

a:visited {
	color: inherit;
}

a {
	text-decoration: none;
}

a:hover {
	color: rgb(128, 128, 128);
}

h1 {
	font-size: 700%;
	margin-top: 0;
	margin-bottom: 0;
	color: #495867;
	font-family: Ramona;
	text-align: left;
}

#contacts img {
	height: 100px;
	margin: 10px;
}

header, main {
	padding-left: 17%;
}

.structure-part{
	/*padding-top: 12%;*/
	margin: 5%;
	margin-bottom: 20%;
	background: white;
	border-radius: 20px;
	box-shadow: 0 4px 100px rgba(0, 0, 0, 0.2);
	padding: 5%;

}

ul {
	list-style-type: none;
}

#skill-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#skill-list li {
	list-style-position: inside;
	text-align: left;
	margin: 0;
	padding: 0;
}

ol, ul {
	padding-left: 0;
	margin-left: 0;
}